{% extends "layout.html" %}
{% block content %}

<div class="progress">
    <div>進捗率</div>
    <span class="percentage">{{percentage}}</span>
    <span class="fraction">{{fraction}}</span>
</div>

{% for i in range(9) %}
    <div>

    {% for j in range(9) %}<select class="cell cell_{{i}}{{j}} column_{{i}} row_{{j}}">
        <option value="0" {% if puzzle[i][j] == 0 %}selected{% endif %}></option>
        <option value="1" {% if puzzle[i][j] == 1 %}selected{% endif %}>1</option>
        <option value="2" {% if puzzle[i][j] == 2 %}selected{% endif %}>2</option>
        <option value="3" {% if puzzle[i][j] == 3 %}selected{% endif %}>3</option>
        <option value="4" {% if puzzle[i][j] == 4 %}selected{% endif %}>4</option>
        <option value="5" {% if puzzle[i][j] == 5 %}selected{% endif %}>5</option>
        <option value="6" {% if puzzle[i][j] == 6 %}selected{% endif %}>6</option>
        <option value="7" {% if puzzle[i][j] == 7 %}selected{% endif %}>7</option>
        <option value="8" {% if puzzle[i][j] == 8 %}selected{% endif %}>8</option>
        <option value="9" {% if puzzle[i][j] == 9 %}selected{% endif %}>9</option>
    </select>{% endfor %}

    </div>
{% endfor %}

<button onclick="puzzleSolver()">パズルを解く</button>

{% endblock %}